tmp*/
temp/
.env*
.DS_Store
expmt/
# service_account.json
__pycache__/
._*
anu.html
*.log
.pytest_cache
anon*
config.json
config-*.json
config.yaml
config-*.yaml
logs/*
local_archive/
vk_config*.json

secrets
delCurrentRg.sh
sshCurrentVm.sh

# service_account_b.json
# service_account_hms_cir.json
service_*.json

credentials.json
token.json
gd-token.json

logs
crawls
url.txt

response-get-html-from-curl.html
response-debug.txt

twitter_test.py