[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

# bug in 6.0.0 with returning None as a string. See issues on bellingcat/auto-archiver
# gspread = "*"
gspread = "==5.12.4"

boto3 = "*"
argparse = "*"
beautifulsoup4 = "*"
tiktok-downloader = "*"
bs4 = "*"
loguru = "*"
ffmpeg-python = "*"
selenium = "*"
snscrape = "*"
telethon = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauth2client = "*"

# DM this is causing a problem on Ubuntu 20.04
pdqhash = "*"

pillow = "*"
python-slugify = "*"
pyyaml = "*"
dateparser = "*"
python-twitter-v2 = "*"
instaloader = "*"
tqdm = "*"
jinja2 = "*"
cryptography = "*"
dataclasses-json = "*"
yt-dlp = "*"
vk-url-scraper = "*"

# DM - Uwazi
requests = {extras = ["socks"], version = "*"}
# DM NEW
urllib3 = "~=1.26.7"

numpy = "*"
warcio = "*"

# for connecting to sql server for auto twitter queue
pyodbc = "*"

[dev-packages]
autopep8 = "*"
setuptools-pipfile = "*"

[requires]
python_version = "3.10"
