[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
boto3 = "*"
argparse = "*"
beautifulsoup4 = "*"
tiktok-downloader = "*"
bs4 = "*"
loguru = "*"
ffmpeg-python = "*"
selenium = "*"
snscrape = "*"
yt-dlp = "*"
telethon = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauth2client = "*"
python-slugify = "*"
pyyaml = "*"
dateparser = "*"
vk-url-scraper = "*"
python-twitter-v2 = "*"
pillow = "*"
warcio = "*"
#urlbox = "*"
pytest-playwright = "*"

# otherwise was getting AttributeError: module ‘lib’ has no attribute ‘OpenSSL_add_all_algorithms’
# boto3 perhaps dependency
# only seems to happen on WSL2 dev env (currently)
pyopenssl = "*"

[requires]
python_version = "3.9"
